*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.terminal-report-section {
    text-align: center;
}

.terminal-report-section table{
    width: 100%;
}

.terminal-report-section table tr td{
    min-width: 20px;
}

/* .terminal-report-section table tr th{
    border: 1px solid #ddd;
} */